version: "3.8"

services:
  app:
    environment:
      - SECRET_KEY=ci_secret
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/support_db
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: support_db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 2s
      retries: 10
